body {
	color: #666666;
	background-color: #CAE6E6;
	background-position: center;
	line-height: 1.4em;
	margin: 0px;	
}

div.wrapper {
	width: 950px;
	//height: 1000px;
	margin: 20px auto 20px auto;
	box-shadow: 5px 0px 10px #888888;
	background-color: #F2FFFF;
}

div.header {
	display: block;
	margin: 0px auto;
	padding: 10px 10px;
	width: 800px;
	//background-color: white;
}

div.title {
	display: block;
	margin: 11% auto;
	text-align: center;
	padding: 5px 15px;
	background-color: #5A6666;
	width: 400px;
	height: 50px;
	border-radius: 25px;
	line-height: 50px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 175%;
	font-weight: bold;
	color: #F2FFFF;
}

div.title:hover {
	background-color: #2D3333;
}

img.align-left {
	float: left;
	height: 225px;
	padding-right: 10px;
}

img.align-right {
	float: right;
	height: 225px;
	padding-left: 10px;
}

a.title {
	text-decoration: none;
	color: #F5F5F5;
}

hr.one {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgb(112, 128, 128), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgb(112, 128, 128), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgb(112, 128, 128), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgb(112, 128, 128), rgba(0,0,0,0)); 
    margin-bottom: 15px;
}

hr.two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgb(236, 255, 255), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgb(236, 255, 255), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgb(236, 255, 255), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgb(236, 255, 255), rgba(0,0,0,0)); 
    margin-bottom: 10px;
}

div.form_one {
	width: 600px;
	//height: 370px;
	display: block;
	margin:  0px auto;
	background-color: #869999;
	border-radius: 25px;
	padding-top: 10px;
	//padding-bottom: 15px;

}

div.form_two {
	width: 600px;
	//height: 600px;
	display: block;
	margin:  0px auto;
	background-color: #869999;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
	//overflow: auto;
	//padding-bottom: 15px;

}

.label_one {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	text-color: #708080;
	padding-bottom: 10px;
}

.first_form {
	text-align: center;
	width: 50em
	display: block;
	margin: 0px auto;
	color: #F2FFFF;
	padding-top: 20px;
	padding-bottom: 10px;
}

.inside1 {
	background-color: #ECFFFF;
	width: 15em;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 30px;
}

.inside2 {
	background-color: #ECFFFF;
	width: 27em;
	height: 10em;
	margin-top: 7px;
	margin-bottom:12px;
}

p.form_one {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	color: #ECFFFF;
	text-align: center;
	padding-bottom: 30px;
}

p.form_one_nosequence {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #CC0000;
	text-align: center;
	padding-bottom: 30px;
}

p.form_one_noname {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #CC0000;
	text-align: center;
	padding-bottom: 30px;
}

.italics {
	font-style: italic;
}

p.title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #ECFFFF;
	text-align: center;
	line-height: normal;
}

p.title2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #ECFFFF;
	text-align: center;
	padding-bottom: 15px;
}


.search1 {
	background-color: #ECFFFF;
	width: 15em;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 30px;
}

.search2 {
	background-color: #ECFFFF;
	width: 27em;
	height: 10em;
	margin-top: 7px;
	margin-bottom:12px;
}

.email_results {
	background-color: #ECFFFF;
	width: 17em;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 15px;
}

p.results_title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	font-weight: bold;
	color: #ECFFFF;
	text-align: left;
}

div.rslts {
	width: 618px;
	height:400px;
	display: block;
	margin: 0px auto;
	background-color: #000;
	opacity:0.5;
	padding-bottom: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow-x: hidden;
}

div.contain {
	width: 595px;
	height: 100px;
	display: block;
	overflow-y: hidden;
	margin: 0px auto;
}

p.results_name {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #ECFFFF;
	text-align: left;
}

p.results_seq {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	color: #ECFFFF;
	text-indent: 4em;
}

.reset {
	margin-bottom: 20px;
}

.reset2 {
	height: 25px;
	width: 100px;
	margin-bottom: 7px;
}

p.results_empty {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	font-weight: bold;
	color: #ECFFFF;
	text-align: center;
}

p.copyright {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: .875em;
	color: #5A6666;
	text-align: center;
}




